# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.idea/libraries

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**coverage/
**/doc/api/
**/ios/Flutter/.last_build_id
**metrics/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.vs/
#pubspec.lock
/pubspec.lock
packages/*/pubspec.lock
admin/pubspec.lock
/build/
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugins.cmake
/macos/Flutter/GeneratedPluginRegistrant.swift

#builds
/packages/*/build

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
**/windows/out

/ios/build
/ios/Podfile.lock
/ios/Runner.xcodeproj/project.pbxproj
/macos/Podfile.lock

# enable
!.idea/codeStyles/Project.xml
/.vscode/
